// assets/styles/index.scss

@use 'baseVariables/variables' as *;
@use 'baseVariables/mixins' as *;
@use 'baseVariables/theme' as *;

// Exemple d'utilisation dans un composant :
// body {
//   background-color: var(--color-background);
//   color: var(--color-text);
//   font-family: 'Inter', sans-serif;
// }

html,
body,
#root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f4f8;
}
